.hover-underline {
  position: relative;
  color: #1f9dd3;
  text-decoration: none;
}

.hover-underline:hover {
  color: #040404;
}

.hover-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  margin-bottom: -2.5px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-underline:hover::before {
  transform: scaleX(1);
}

/* btn transition */

.glow-on-hover {
  width: 100px;
  height: 45px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff;
}

/* .glow-on-hover:active:after {
  background: transparent;
} */

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hover-h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 3rem;
  transition: all 0.35s ease-in-out;
}

/* footer */

.footer-img {
  background: rgb(250,114,104);
background: linear-gradient(0deg, rgba(250,114,104,1) 35%, rgba(227,61,86,1) 100%);
}

/* Media queries for different screen sizes */
/* @media (max-width: 640px) {
  .footer-img {
    height: 60vh;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .footer-img {
    height: 60vh;
  }
} */

/* footer-link */

/* .footer-underline {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.footer-underline:hover {
  color: #ffffff;
}

.footer-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  margin-bottom: -2.5px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-underline:hover::before {
  transform: scaleX(1);
} */
