@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  width: 100%
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .redBG {
    background-color: rgba(236, 217, 221, 1);
  }
  .greenBG {
    background-color: rgba(201, 242, 155, 1);
  }

  .blueBG {
    background-color: rgba(30, 139, 195, 1);
  }
  .redborder {
    border: 1px solid red;
  }
  .blueborder {
    border: 1px solid blue;
  }
}

/* ---------------------------------- */

/* Carousel CSS */

.embla {
  --banner-slide-spacing: 1rem;
  --banner-slide-size: 100%;
  --banner-slide-height: 29rem;

  --card-slide-spacing: 2rem;
  --card-slide-size: fit-content;
  --card-slide-height: 21rem;
}

/* IMPORTANT -----------------------------------------------------
if background of container have images then uncomment this */
.embla__container {
  backface-visibility: hidden;
}

/* ----------------------------------------- */
.banner-embla__container {
  margin-left: calc(var(--banner-slide-spacing) * -1);
}
.card-embla__container {
  margin-left: calc(var(--card-slide-spacing) * -1);
}

/* ------------------------------------------ */
.banner-embla__slide {
  flex: 0 0 var(--banner-slide-size);
  padding-left: var(--banner-slide-spacing);
}

.card-embla__slide {
  flex: 0 0 var(--card-slide-size);
  padding-left: var(--card-slide-spacing);
}

/* ------------------------------------------ */
.banner-embla__slide__img {
  height: var(--banner-slide-height);
}

.card-embla__slide__card {
  height: var(--card-slide-height);
}
